In [252]:
class Array:
    def __init__( self , tam ):
        self.__tamanio = tam
        self.__data = [ 0 for x in range(self.__tamanio) ]

    def to_string( self ):
        info = ""
        for dato in self.__data:
            info = info + str(dato) + " "
        return info

    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len( self.__data )

    def set_item( self , dato , index):
        # hace falta revisar limites
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("Error: indice fuera de rango")
    
    def clear( self , dato ):
        self.__data = [ dato for x in range(self.__tamanio) ]

In [253]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [254]:
archivo = open('junio.dat', 'rt' , encoding='latin-1')

info = archivo.read()
print(info)

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [255]:
archivo = open('junio.dat','rt', encoding='latin-1')
info = archivo.readlines()

for index in range( len(info) ):
    info[index] = info[index].rstrip('\n').split(',')
    print(info[index])
print(info)

['numero de trabajador', ' nombres', ' paterno', ' materno', ' horas extra', ' sueldo base', ' aÃ±o de ingreso']
['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017']
['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020']
['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016']
['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017']
['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017']
['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018']
['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018']
['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018']
['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017']
['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017']
['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019']
['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019']
['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020']
['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']
[['numero de trabajador', ' nombres', ' paterno', ' materno', ' horas extra', ' sueldo base', ' aÃ±o de ingreso'], ['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017'], ['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020'], ['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016'], ['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017'], ['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017'], ['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018'], ['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018'], ['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018'], ['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017'], ['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017'], ['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019'], ['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019'], ['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020'], ['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']]

In [256]:
class Trabajador:
    def __init__( self, nt, nom, pat, mat, he, sb, ai ):
        self.__numero_trabajador = nt
        self.__nombre = nom
        self.__ap_paterno = pat
        self.__ap_materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__año_ingreso = ai

    #aqui van todos los metodos de acceso

    def get_numero_trabajador( self ):
        return self.__numero_trabajador
    
    def set_numero_trabajador( self , nt ):
        self.__numero_trabajador = nt
    
    def get_nombre( self ):
        return self.__nombre
    
    def set_nombre( self , nom ):
        self.__nombre = nom

    def get_ap_paterno( self ):
        return self.__ap_paterno
    
    def set_ap_paterno( self , pat ):
        self.__ap_paterno = pat
     
    def get_ap_materno( self ):
        return self.__ap_materno
    
    def set_ap_materno( self , mat ):
        self.__ap_materno = mat

    def get_horas_extra( self ):
        return self.__horas_extra
    
    def set_horas_extra( self , he ):
        self.__horas_extra = he
    
    def get_sueldo_base( self ):
        return self.__sueldo_base
    
    def set_sueldo_base( self , sb ):
        self.__sueldo_base = sb
    
    def get_año_ingreso( self ):
        return self.__año_ingreso
    
    def set_año_ingreso( self , ai ):
        self.__año_ingreso = ai

    def antiguedad( self ):
        return 2021 - int(self.__año_ingreso)
        
    #metodos de uso gral. ---> metodos que hacen calculos de la logica

In [324]:
class NominaADT:
    def __init__( self , ruta_archivo ):
        #abrir el archivo y determinar el numero de empleados ---> num_emp
        archivo = open(ruta_archivo, 'rt', encoding='latin-1')
        info = archivo.readlines()
        for index in range( len(info) ):
            info[index] = info[index].rstrip('\n').split(',')
        self.info = info
        self.num_emp = len(info)-1
        self.__data = Array( 15 )
        contador = 0
        for index in (self.info):
            empleado = Trabajador(index[0], index[1], index[2], index[3], index[4], index[5], index[6])
            self.__data.set_item(empleado, contador)
            contador = contador + 1

    def calcular_sueldos( self ):
        #iterar sobre el Array y hacer el calculo de sueldos
        for i in range( self.__data.get_length() - 1):
            emp = self.get_empleado( i + 1 )

            extra = int(emp.get_horas_extra()) * 276.5
            años = ((2021 - int(emp.get_año_ingreso())) * .03) * int(emp.get_sueldo_base()) 
            suma = int(emp.get_sueldo_base()) + extra + años
            print(f'El sueldo final de {emp.get_nombre()} es de : ${suma}')

    def get_empleado(self, num):
        return self.__data.get_item(num)

    def buscar_mas_antiguo( self ):
        #iterar y buscar en el Array el de mayor antiguedad en el puesto
        masAntiguo = 0
        nomEmpleado = ''
        for i in range( self.__data.get_length() - 1):
            emp = self.get_empleado( i + 1)
            if emp.antiguedad() > masAntiguo:
                masAntiguo = emp.antiguedad()
                nomEmpleado = emp.get_nombre()
                nomEmpleados = nomEmpleado
            elif emp.antiguedad() == masAntiguo:
                nomEmpleado = emp.get_nombre()
                nomEmpleados = nomEmpleados + ' ' + nomEmpleado
        print(f'El o los empleados más antiguos son: {nomEmpleados}')

    def buscar_menor_antiguedad( self ): 
        #idem
        menosAntiguo = 0
        nomEmpleadoDos = ''
        nomEmpleados = ''
        for i in range( self.__data.get_length() - 1):
            emp = self.get_empleado( i + 1)
            if emp.antiguedad() < menosAntiguo:
                menosAntiguo = emp.antiguedad()
                nomEmpleadoDos = emp.get_nombre()
                nomEmpleados = nomEmpleado
            elif emp.antiguedad() == menosAntiguo:
                nomEmpleadoDos = emp.get_nombre()
                nomEmpleados = nomEmpleados + ' ' + nomEmpleadoDos
        print(f'El o los empleados más antiguos son: {nomEmpleados}')

empresa1 = NominaADT('junio.dat')
print(f'Numero de empleados: {empresa1.num_emp}')
print(empresa1.calcular_sueldos())
print(empresa1.buscar_mas_antiguo())
print(empresa1.buscar_menor_antiguedad())

Numero de empleados: 14
El sueldo final de CARLOS es de : $11032.0
El sueldo final de ANGEL es de : $10422.0
El sueldo final de JESUS es de : $11880.5
El sueldo final de DAVID es de : $11585.0
El sueldo final de PEDRO es de : $11585.0
El sueldo final de DANIEL es de : $11566.0
El sueldo final de ALEJANDRO es de : $11289.5
El sueldo final de MARIA es de : $11013.0
El sueldo final de ALBERTO es de : $11308.5
El sueldo final de RAFAEL es de : $11585.0
El sueldo final de FERNANDO es de : $11547.0
El sueldo final de PABLO es de : $10717.5
El sueldo final de JORGE es de : $10698.5
El sueldo final de RAMON es de : $11604.0
None
El o los empleados más antiguos son: JESUS RAMON
None
El o los empleados más antiguos son:
None